.custom-input-group-text {
  width: 118px;
  font-size: 0.8em;
}

.form-control {
  font-size: 0.8em;
}

.btn-primary,
.custom-input-group-text2,
#inputGroupSelectCantidad {
  font-size: 0.8em;
}

#notes-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin: 0 auto;
  justify-content: center;
}

.card {
  margin: 0 auto;
}

.list {
  background-color: #19191a;
  border-radius: 0 0 5px 5px;
}

.list-items {
  padding: 5px 5px;
  font-size: 0.8em;
  list-style: disc inside;
}

.list-items:hover {
  background-color: #96c4c4;
  color: black;
}
